DATABASE_URL=db-url
REDIS_HOST=redis-host
REDIS_PORT=redis-port
REDIS_PASSWORD=redis-password
MULTER_DESTINATION=./uploads
MAX_IMAGE_SIZE=1*1024*5000
TOKEN_KEY=token-key
TOKEN_EXP=7d
HASH_SALT=12
ACCESS_TOKEN_KEY=access-token-secret-key
ACCESS_TOKEN_EXP=7d
BASE_URL=base url of the application